<a href="https://colab.research.google.com/github/AnandSinhaProjects/AI_FOR_MEDICAL_TASKS/blob/main/2D/Golden%20Ground%20Truth/Golden_Standard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import seaborn as sns

In [29]:
d = pd.read_csv('/content/labels.csv')

In [30]:
d.head()

     rad1    rad2    rad3  biopsy
0  benign  benign  benign  benign
1  benign  benign  benign  benign
2  benign  benign  benign  benign
3  benign  benign  benign  benign
4  benign  benign  cancer  benign

In [31]:
d=d.replace(to_replace='benign', value=1)

In [32]:
d=d.replace(to_replace='cancer', value=0)

In [33]:
d.head()

   rad1  rad2  rad3  biopsy
0     1     1     1       1
1     1     1     1       1
2     1     1     1       1
3     1     1     1       1
4     1     1     0       1

In [34]:
rb=d["biopsy"]

In [35]:
rb.head()

0    1
1    1
2    1
3    1
4    1
Name: biopsy, dtype: int64

In [36]:
r1=d[["rad1","rad2","rad3"]].sum(axis=1)
r1= (r1>1).replace(True, 1).replace(False,0)
r1.head(10)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    1.0
8    0.0
9    1.0
dtype: float64

In [38]:
wl=d.copy()
wl['rad1'] = wl['rad1']*0.33
wl['rad2'] = wl['rad2']*0.67
wl.head()

   rad1  rad2  rad3  biopsy
0  0.33  0.67     1       1
1  0.33  0.67     1       1
2  0.33  0.67     1       1
3  0.33  0.67     1       1
4  0.33  0.67     0       1

In [39]:
r2=wl[["rad1","rad2","rad3"]].sum(axis=1)
r2= (r2>1).replace(True, 1).replace(False,0)
r2.head(10)

0    1.0
1    1.0
2    1.0
3    1.0
4    0.0
5    0.0
6    1.0
7    1.0
8    0.0
9    0.0
dtype: float64

In [40]:
btw= r1==r2

In [43]:
btw[btw==False]

4     False
9     False
17    False
20    False
56    False
58    False
dtype: bool

In [42]:
btwg=rb==r2
btwg[btwg==False]

4     False
9     False
12    False
14    False
17    False
20    False
22    False
29    False
30    False
34    False
37    False
52    False
56    False
57    False
58    False
dtype: bool

In [44]:
btw1g=rb==r1
btw1g[btwg==False]

4      True
9      True
12    False
14    False
17     True
20     True
22    False
29    False
30    False
34    False
37    False
52    False
56     True
57    False
58     True
dtype: bool